@page "/Tareas"
@page "/Tareas/{id}"
@inherits DinaupPage
 







@if ( Datos_TareaEditando != null)
{

	<span>Editando</span>


}
else if (Datos_ListaDeMisTareas != null && Datos_ListaDeMisTareas.DatosDisponibles)
{

	<RadzenCard>

		<RadzenSwitch   Value=@MostrarEliminados  Change=@(async (args) =>{ MostrarEliminados= args; ActualizarUI();})  /> 
        <RadzenLabel Text="Mostrar Eliminados" />
	</RadzenCard>

	<h1>Pendientes</h1>
	@foreach (var item in Datos_ListaDeMisTareas.Filas.Where(x => !DinaupCont.TareasD.H_TareaCompletada(x.EstadoID)))
	{

		<RadzenCard @key=item.ID class="p-1">




			<div class="row ">

				<div class="col-auto align-self-center">

					<RadzenSwitch Value=@DinaupCont.TareasD.H_TareaCompletada(item.EstadoID)
					              Change=@(async (args) => Change_EstadoTarea_Async(args, item)) Style="display:block"  />
				</div>

				<div class="col align-self-center"> @item.TextoPrincipal  </div>
				<div class="col-auto align-self-center">
					<RadzenButton  Icon="open_in_news" ButtonStyle="ButtonStyle.Secondary" />
				</div>
			</div>
			<div class="row">

				<Dinaup_GaleriaDeImagenesU ArchivosSeparadosPorcomas="@item.Imagenes"></Dinaup_GaleriaDeImagenesU>

			</div>

		</RadzenCard>

	}

	<RadzenCard>
		@code {
		string NuevaTarea_Descripcion = "";
	}
		<RadzenTextBox Name="cafexde" Placeholder="Nueva tarea...." @bind-Value="NuevaTarea_Descripcion" @onkeyup="OnKeyUp_AgregarTarea"> </RadzenTextBox>
	</RadzenCard>

	<h1>Completadas</h1>
	@foreach (var item in Datos_ListaDeMisTareas.Filas.Where(x => DinaupCont.TareasD.H_TareaCompletada(x.EstadoID)))
	{

		<RadzenCard @key=item.ID class="p-1">

			<div class="row ">

				<div class="col-auto align-self-center">



					<RadzenSwitch Value=@DinaupCont.TareasD.H_TareaCompletada(item.EstadoID)
					              Change=@(async (args) => Change_EstadoTarea_Async(args, item)) Style="display:block"  />


				</div>

				<div class="col align-self-center">

					@item.TextoPrincipal
				</div>


				<div class="col-auto align-self-center">
					<RadzenButton  Icon="open_in_news" ButtonStyle="ButtonStyle.Secondary" />

				</div>


			</div>

		</RadzenCard>

	}


}else{


	<span>Cargando...</span>


}









