
@inject DinaupPage DinaPeticion
@inject DinaNetCore.ICookie cookie  
@inject NavigationManager NavigationManager





@if(avisosoks.TieneDatos() || avisoserrores.TieneDatos() ){
	<div class="avisos">
			@if(avisosoks.TieneDatos()) {
			   @foreach (var msg in avisosoks)
				{
					<div class="cont_ok"   > @msg </div>
				}
			}
		
			@if(avisoserrores.TieneDatos()) {
				@foreach (var msg in avisoserrores)
	            {
					<div class="cont_error">  @msg </div>
				}
			}
	</div>
}


@code{

	[Parameter]
	public List<string>?  avisosoks{ get; set; }


	[Parameter]
	public List<string>? avisoserrores { get; set; }


}