
@inject DinaNETCore.ICookie cookie  
@inject NavigationManager NavManager
@inject DinaupPage DinaPeticion


<footer>
	
 
	<img src="https://www.dinaup.com/img/ncab_5i.png" width="200px"/>
	<div id="footer">
		Copyright 2022 - Prueba 
	</div>
</footer>
 	
 