@inject DinaNetCore.ICookie cookie  
@inject NavigationManager NavManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
             <img src="archivos/logo.png"  height="50"/> 
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="fi fi-sr-menu-burger" style="color:black; ">
            </span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
	    <div class="nav-item px-3">
		    <NavLink class="nav-link" href="Tareas">
			    <span class="oi oi-task" aria-hidden="true"></span> Tareas
		    </NavLink>
	    </div>
        
	    <div class="nav-item px-3">
		    <NavLink class="nav-link" href="Pruebas">
			    <span class="oi fi-sr-test-tube" aria-hidden="true"></span> Pruebas
		    </NavLink>
	    </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MiAgenda">
                <span class="oi fi fi-sr-calendar" aria-hidden="true"></span> Mi Agenda
            </NavLink>
        </div>
    <div class="nav-item px-3">
            <NavLink class="nav-link" href="InformeConVariables">
                <span class="oi fi fi-sr-test-tube" aria-hidden="true"></span> Informe con variables
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }



}
